body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
}

header {
  height: 64px;
}

#header {
  height: 32px;
  padding-left: 5px;
  text-transform: uppercase;
  flex-grow: 0;
}

header span {
  font-weight: bold;
}

header img {
  margin-left: 24px;
}

nav {
  text-align: right;
  flex-grow: 1;
  width: 400px;
}

nav ul {
  list-style: none;
  margin-right: 24px;
}

nav li {
  display: inline-block;
  padding: 0px 8px;
}

#learn {
  background: Gainsboro;
  flex-wrap: nowrap;
}

#learn img {
  width: 60%;
  padding: 32px 24px;
}

#description {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

h2 {
  color: rgb(60,60,60);
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 1px;
}

#description p {
  color: rgb(60,60,60);
  font-weight: bold;
  font-size: 20px;
}

#button {
  color: white;
  background-color: rgb(60,60,60);
  width: 240px;
  text-align: center;
  padding: 8px;
  margin-left: 150px;
  border-radius: 7px;
}

#practice {
  background-color: GhostWhite;
  flex-wrap: nowrap;
}

.image {
  width: 66%;
  padding: 32px 24px;
}

.image h2 {
  font-weight: bolder;
  font-size: 40px;
}

.image p {
  line-height: 22px;
}

#information {
  width: 100%;
}

#aside {
  flex-direction: column;
  flex-wrap: nowrap;
  border-left: 1px solid Gainsboro;
}

#container {
  border-bottom: 1px solid Gainsboro;
}

#container img {
  padding: 16px;
  width: 35%;
  height: auto;
  float: left;
  vertical-align: middle;
}

#container h4,p,span{
  width: 120%;
}

#container h4 {
  font-size: 24px;
  margin-bottom: 8px;
}

#container p {
  font-size: 20px;
  margin-bottom: 8px;
}

a {
  color: DodgerBlue;
  text-decoration: none;
}

a:hover {
  color: DarkBlue;
}

#course-title {
  background-color: rgb(230, 230, 230);
  text-align: center;
  margin: 0 auto;
  padding: 32px;
}

#courses {
  background: rgb(230, 230, 230);
  flex-wrap: wrap;
  padding: 0 72px;
  justify-content: center;
}

.course-container {
  width: 400px;
  background: GhostWhite;
  margin: 16px 16px;
}

.course-container img {
  height: auto;
  width: 100%;
  margin-bottom: 0px;
}

.course-container h3, span, p {
  padding-left: 16px;
}

.course-container h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.course-container span {
  text-transform: uppercase;
  margin-bottom: 8px;
  opacity: 0.7;
  font-size: 20px;
}

.course-container p {
  opacity: 0.7;
  font-size: 16px;
}

#thesis-title {
  background: GhostWhite;
  text-align: center;
  margin: 0 auto;
  padding: 32px 0;
}

#thesis {
  background: GhostWhite;
}

.video {
  width: 66%;
  padding: 0px 24px 24px 24px;
}

video {
  width: 100%;
}

#thesis-aside {
  flex-direction: column;
}

#thesis-container {
  width: 100%;
}

#thesis-container img {
  padding: 16px;
  width: 35%;
  height: auto;
  float: left;
  vertical-align: middle;
}

#thesis-container h4,p,{
  width: 100%;
}

#thesis-container h4 {
  font-size: 24px;
  margin-bottom: 8px;
}

#thesis-container p {
  font-size: 20px;
  margin-bottom: 8px;
}

footer {
  background-color: Gainsboro;
  border-top: 1px solid grey;
  display: inline-block;
  width: 100%;
}

footer span {
  float: left;
  padding-left: 24px;
  padding-top: 16px;
}

footer p {
  float: right;
}
