body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

header {
  height: 64px;
}

#header {
  height: 32px;
  padding-left: 5px;
  text-transform: uppercase;
  flex-grow: 0;
}

header span {
  font-weight: bold;
}

header img {
  margin-left: 24px;
}

nav {
  text-align: right;
  flex-grow: 1;
  width: 400px;
}

nav ul {
  list-style: none;
  margin-right: 24px;
}

nav li {
  display: inline-block;
  padding: 0px 8px;
}

#learn {
  background: Gainsboro;
  flex-wrap: nowrap;
}

#learn img {
  width: 60%;
  padding: 32px 24px;
}

#description {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

h2 {
  color: rgb(60,60,60);
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 1px;
}

#description p {
  color: rgb(60,60,60);
  font-weight: bold;
  font-size: 20px;
}

#button {
  color: white;
  background-color: rgb(60,60,60);
  width: 240px;
  text-align: center;
  padding: 8px;
  margin-left: 150px;
  border-radius: 7px;
}

#practice {
  background-color: GhostWhite;
  flex-wrap: nowrap;
}

.image {
  width: 60%;
  padding: 32px 24px;
}

.image h2 {
  font-weight: bolder;
  font-size: 40px;
}

.image p {
  line-height: 22px;
}

#information {
  width: 100%;
}

#aside {
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40%;
  border-left: 1px solid Gainsboro;
}

#container {
  border-bottom: 1px solid Gainsboro;
}

#container img {
  padding: 16px;
  width: 35%;
  height: auto;
  float: left;
  vertical-align: middle;
}

#container h4,p,span{
  width: 100%;
}

#container h4 {
  font-size: 24px;
  margin-bottom: 8px;
}

#container p {
  font-size: 20px;
  margin-bottom: 8px;
}

a {
  color: DodgerBlue;
  text-decoration: none;
}

a:hover {
  color: DarkBlue;
}
